<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Client</title>
</head>
<body>
    <section>
        <h1><h1>This is the Edit Page!</h1></h1>
        <section>
            <ul>
                <% clientList.forEach(client => { %>
                    <% if (client._id==idClient) { %>
                        <li>
                            <div>
                                <%= client.clientName %>
                            </div>
                            <div>
                                <%= client.clientPhone %>
                            </div>
                            <form action="/edit/update/<%= client._id %>" method="POST">
                                <label for="clientName">Client Name</label>
                                <input type="text" placeholder="Client Name" name="clientName" value=<%= client.clientName %>>
                                <label for="clientPhone">Client Phone</label>
                                <input type="text" placeholder="Client Phone" name="clientPhone" value=<%= client.clientPhone %>>
                                <label for="clientEmail">Client Email</label>
                                <input type="text" placeholder="Client Email" name="clientEmail" value=<%= client.clientEmail %>>
                                <button type="submit" class="confirm">Confirm</button>
                                <a href="/" class="cancel">Cancel</a>
                            </form>
                        </li>
                        <% } else { %>
                            <li>
                                <div>
                                    <%= client.clientName %>
                                </div>
                                <div>
                                    <%= client.clientPhone %>
                                </div>
                                <a href="/edit/<%= client._id %>">Edit</a>
                                <a href="/edit/remove/<%= client._id %>" class="remove">Cancel</a>
                            </li>
                            <% } %>
                                <% }) %>
            </ul>
        </section>
    </section>

</body>
</html>