<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivid</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h2>Add A Client:</h2>

    <form action="/addClient" method="POST">
        <label for="clientName">Client Name</label>
        <input type="text" placeholder="Client Name" name="clientName">
        <label for="clientPhone">Client Phone</label>
        <input type="text" placeholder="Client Phone" name="clientPhone">
        <label for="clientEmail">Client Email</label>
        <input type="text" placeholder="Client Email" name="clientEmail">
        <button type="submit">Add Client</button>
    </form>

    <ul>
        <% clientList.forEach(client => { %>
            <li>
                <div><%= client.clientName %></div>
                <div><%= client.clientEmail %></div>
                <div><%= client.clientPhone %></div>
                
                <a href="/edit/<%= client._id %>">Edit</a>
                <a href="/edit/remove/<%= client._id %>">Remove</a>
            </li>
        <% }) %>
    </ul>



</body>
</html>